<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="db2Application.Properties.Settings.DIGRAConnectionString"
            connectionString="User ID=db2admin;Password=123;Server=localhost;Database=DIGRA"
            providerName="Devart.Data.DB2" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>